#mbox{background-color:#eee; padding:8px; border:2px outset #666; height:auto; width:auto;}
#mbm{font-family:sans-serif;font-weight:bold;float:right;padding-bottom:5px;}
#ol{background-image: url("../images/overlay.png"); height:500}
.dialog {display:none;}
.dialink {cursor:pointer}
* html #ol{background-image:none; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../images/overlay.png", sizingMethod="scale");}
                  